/* Navbar */
nav {
  border-bottom: 1px solid rgba(177, 51, 51, 0.2);
  padding: 0.2rem;
}

nav img {
  height: 40px; /* Manually adjust the height of the image */
  width: auto; /* automatically adjusts the image proportionally to the height adjusted (Avoids squishing image) */
}

/* container inside of Navbar */
.inner-container {
  display: flex; /*arranges the children (<a/>) in the parent (inner-container <div>) in a row */
  align-items: center; /* Aligns all the children along the middle of the row (vertically)*/
  width: 100%; /* Standard for centering content width*/
  padding: 0.5rem 0.5rem; /*creates space for the content from the border. first rem top and bottom second rem left and right*/
}

/*  child combinator (>) Targets ONLY <a> tags that are DIRECT children (logo link ONLY) */
.inner-container > a {
  justify-content: flex-start; /* pushes the logo image to the left of its lane */
}

.nav-links {
  display: flex; /*arranges the children (<a/>) in the parent (inner-container <div>) in a row */
  gap: 2rem; /* creates an even gap between the links <a> */
  margin-left: 2rem; /* Give only 2rems of space from the left of the content to stay close to whatever is on the left (Logo) */
}

/*Navbar Text Design*/
nav a {
  text-decoration: none; /*removes text underline*/
  color: black; /*text color*/
  transition: color 0.3s; /*transition hover color between text color*/
  font-family:
    "Poppins", sans-serif; /*Google font chosen. If font fails it defaults to sans-serif*/
  font-size: 0.9rem;
}

nav a:hover {
  color: #b13333; /*color switch after hovering over text*/
}

/*Adjacent sibling selector (target any <a> that comes directly after another <a>)*/
nav a + a {
  border-left: 1px solid rgba(177, 51, 51, 0.2); /*adding a border to the left of an <a> that comes after another <a>*/
  padding-left: 1rem; /*adds padding to the left of the content (<a>) */
}

/*Homepage*/
body {
  background-color: #f4f3f2;
}

.search-bar-section {
  padding-top: 8rem; /*Adds space between the navbar and the slogan and search bar*/
}

.search-bar {
  display: flex; /*arranges the children (<input/>) in the parent (form) in a row  */
  background-color: white; /*background color change */
  border: 1px solid black; /*Makes the border line visible */
  border-radius: 10px; /*Rounds the border edges  */
  max-width: 800px; /*Sets a ceiling on how wide an element (search bar) can grow */
  margin: 0 auto; /*Centers the search bar to the middle of the page by consuming equal margin space on both sides */
  overflow: hidden; /*clips anything that goes beyond the rounded corners boundaries */
}

.search-bar input {
  border: none; /*Removes the borders around the inputs in the search-bar container */
  flex: 1; /*Divides the space evenly between the input children */
  padding: 1.5rem 1rem; /* Padding creates comfortable space around the text user type */
  font-size: 1rem;
  font-family:
    "Poppins", sans-serif; /*Google font chosen. If font fails it defaults to sans-serif*/
}

.search-bar input + input {
  border-left: 1px solid lightgray; /*Adds a vertical divider to the left of every input that is behind another input*/
  padding-left: 1rem; /*Creates space between the vertical divider and the input values*/
}

.search-bar button {
  background-color: #b13333; /*Changes the color of the button background */
  color: white; /*Changes the color of the button text */
  flex-shrink: 0; /* Preventative in case smaller screens squeeze the button */
  padding: 0.75rem 1.5rem; /* Padding around the "search" and to match the the height of input padding */
  font-size: 1.2rem;
  border: none; /* Removes the borders from the button */
  cursor: pointer; /* Turns the mouse into a hand when it hovers the button */
}

#slogan {
  color: #b13333;
  font-size: 1.85rem;
  text-align: center;
  font-family:
    "Poppins", sans-serif; /*Google font chosen. If font fails it defaults to sans-serif*/
}

.slogan-word-two {
  color: #da9101;
}

/*Job Listing Results*/
.job-card {
  display: flex; /*arranges the children (<div>) in the parent (job-card <div>) in a row */
  max-width: 1200px; /*Sets a ceiling on how wide an element (job results card) can grow */
  margin: 0 auto 20px; /*Centers the cards to the middle of the page by consuming equal margin space on both sides */
  align-items: center; /* Vertically aligns all the children along the middle of the row to ensure nothing snaps to the top of the card*/
  background-color: white; /*background card color change */
  padding: 0.75rem 1.5rem; /* Padding creates comfortable space around the elements in the card */
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative; /* establishes a boundary so absolutely positioned children anchor to this card, not the page */
}

.job-logo img {
  height: 60px; /* Manually adjust the height of the image */
  width: auto; /* automatically adjusts the image proportionally to the height adjusted (Avoids squishing image) */
}

.job-time-location {
  display: flex; /*arranges the children (<p>) in the parent (job-time-location <div>) in a row */
  gap: 0.5rem; /*Creates a gap between the elements */
  position: absolute; /* removes element from normal flow and places it at exact coordinates within the nearest position:relative ancestor */
  top: 0rem; /* pins element to the top edge of the job-card */
  right: 1rem; /* pins element 1rem away from the right edge of the job-card */
}

.expand-btn {
  position: absolute; /* removes element from normal flow and places it at exact coordinates within the nearest position:relative ancestor */
  bottom: 0%; /* places element 0% of the way up from the bottom of the job-card */
  right: 1rem; /* pins element 1rem away from the right edge of the job-card */
  transform: translateY(
    -50%
  ); /* shifts the element up by half its own height to achieve true vertical centering */
}

.job-results-search-bar {
  display: flex; /*arranges the children (<input/>) in the parent (form) in a row  */
  background-color: white; /*background color change */
  border: 1px solid lightgrey; /*Makes the border line visible */
  border-radius: 10px; /*Rounds the border edges  */
  max-width: 800px; /*Sets a ceiling on how wide an element (search bar) can grow */
  margin: 20px auto; /*Centers the search bar to the middle of the page by consuming equal margin space on both sides */
  overflow: hidden; /*clips anything that goes beyond the rounded corners boundaries */
}

.job-results-search-bar input {
  border: none; /*Removes the borders around the inputs in the search-bar container */
  flex: 1; /*Divides the space evenly between the input children */
  padding: 0.75rem 1rem; /* Padding creates comfortable space around the text user type */
  font-size: 1rem;
  font-family:
    "Poppins", sans-serif; /*Google font chosen. If font fails it defaults to sans-serif*/
}

.job-results-search-bar input + input {
  border-left: 1px solid lightgray; /*Adds a vertical divider to the left of every input that is behind another input*/
  padding-left: 1rem; /*Creates space between the vertical divider and the input values*/
}

.job-results-search-bar button {
  background-color: #b13333; /*Changes the color of the button background */
  color: white; /*Changes the color of the button text */
  flex-shrink: 0; /* Preventative in case smaller screens squeeze the button */
  padding: 0.75rem 1.5rem; /* Padding around the "search" and to match the the height of input padding */
  font-size: 1.2rem;
  border: none; /* Removes the borders from the button */
  cursor: pointer; /* Turns the mouse into a hand when it hovers the button */
}
