/* Navbar */
nav {
  border-bottom: 1px solid #b13333;
}

nav img {
  height: 60px; /* Manually adjust the height of the image */
  width: auto; /* automatically adjusts the image proportionally to the height adjusted (Avoids squishing image) */
}

/* container inside of Navbar */
.inner-container {
  display: flex; /*arranges the children (<a/>) in the parent (inner-container <div>) in a row */
  align-items: center; /* Aligns all the children along the middle of the row (Avoids the links from moving to the top since the logo is larger)*/
  width: 100%; /* Standard for centering content width*/
  padding: 1rem 2rem; /*creates space for the content from the border. first rem top and bottom second rem left and right*/
}

/*  child combinator (>) Targets ONLY <a> tags that are DIRECT children (logo link ONLY) */
.inner-container > a {
  flex: 1; /* Ratio that tells each child how much of the leftover space to claim compared to its siblings (1 is equal share) */
  justify-content: flex-start; /* pushes the logo image to the left of its lane */
}

.nav-links {
  display: flex; /*arranges the children (<a/>) in the parent (inner-container <div>) in a row */
  justify-content: center; /* links stay centered */
  gap: 2rem; /* creates an even gap between the links <a> */
  flex: 1; /* Ratio that tells each child how much of the leftover space to claim compared to its siblings (1 is equal share) */
}

/* invisible balancer on the right */
/* the last direct child inside of .inner-container (empty div) */
.inner-container > div:last-child {
  flex: 1; /* Ratio that tells each child how much of the leftover space to claim compared to its siblings (1 is equal share) */
}

/*Navbar Text Design*/
nav a {
  text-decoration: none; /*removes text underline*/
  color: black; /*text color*/
  transition: color 0.3s; /*transition hover color between text color*/
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

nav a:hover {
  color: #b13333; /*color switch after hovering over text*/
}

/*Adjacent sibling selector (target any <a> that comes directly after another <a>)*/
nav a + a {
  border-left: 1px solid #b13333; /*adding a border to the left of an <a> that comes after another <a>*/
  padding-left: 1rem; /*adds padding to the left of the content (<a>) */
}
