<!-- HTML file for homepage -->
<!-- action attribute goes to the route/url that triggers search_results() url_for() is a better option than just hardcoding "/search"-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    {%include "components/navbar.html" %}

    <div class="search-bar-section">
      <h2 id="slogan">Unemployed, not unmotivated.</h2>
      <form
        class="search-bar"
        action="{{url_for('joblistings.search_results')}}"
        method="get"
      >
        <input
          type="text"
          id="home-job-title"
          name="home-job-title"
          placeholder="Search jobs, keywords"
        />

        <input
          type="text"
          id="location"
          name="location"
          placeholder="City, State, Zip code or Remote"
        />

        <input
          type="text"
          id="job-site"
          name="job-site"
          placeholder="Job site"
        />

        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
