<!-- HTML file for homepage -->
<!-- action attribute goes to the route/url that triggers search_results() url_for() is a better option than just hardcoding "/search"-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="search-bar-section">
      <h2 id="slogan">Unemployed, not unmotivated.</h2>
      <form
        class="search-bar"
        action="{{url_for('joblistings.search_results')}}"
        method="get"
      >
        <label for="home-job-title" class="sr-only">Job title</label>
        <input type="text" id="home-job-title" name="home-job-title" />

        <label for="location" class="sr-only">Location</label>
        <input type="text" id="location" name="location" />

        <label for="job-site" class="sr-only">Job Site</label>
        <input type="text" id="job-site" name="job-site" />

        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
