<!-- HTML file for homepage -->

<div class="search-bar-section">
    <h2 id="slogan">Unemployed, not unmotivated.</h2>
    <form class="search-bar" action="/pages/homepage.py" method="get">
        <label for="job-title" class="sr-only">Job title</label>
        <input type="text" id="job-title" name="job-title">

        <label for="location" class="sr-only">Location</label>
        <input type="text" id="location" name="location">

        <label for="job-site" class="sr-only">Job Site</label>
        <input type="text" id="job-site" name="job-site">
    </form>
</div>