<!-- HTML file for joblistings page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job listings page</title>
  </head>

  <body>
    {%include "components/navbar.html"%} {% for job in jobs %}
    <h2>{{job.job_title}}</h2>
    <h4>{{job.employer_name}}</h4>
    <img src="{{job.employer_logo}}" alt="Company logo" />
    <p>{{job.job_location}}</p>
    <p>{{job.job_posted_at}}</p>
    <p>{{job.job_publisher}}</p>
    {% endfor %}
  </body>
</html>
