<!-- HTML file for joblistings page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job listings page</title>
  </head>

  {%include "components/navbar.html"%}

  <body>
    {% for job in jobs %}
    <h4>{{job.employer_name}}</h4>
    <p>{{job.job_location}}</p>
    <p>{{job.job_posted_at}}</p>
    <img src="{{job.employer_logo}}" alt="" />
    <h2>{{job.job_title}}</h2>
    {% endfor %}
  </body>
</html>
