<!-- HTML file for joblistings page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job listings page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    {%include "components/navbar.html"%}
    <form
      class="job-results-search-bar"
      action="{{url_for('joblistings.search_results')}}"
      method="get"
    >
      <input
        type="text"
        id="home-job-title"
        name="home-job-title"
        value="{{ request.args.get('home-job-title', '') }}"
      />

      <input
        type="text"
        id="location"
        name="location"
        value="{{ request.args.get('location', '') }}"
      />

      <input
        type="text"
        id="job-site"
        name="job-site"
        value="{{ request.args.get('job-site', '') }}"
      />

      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    {% for job in jobs %}
    <div class="job-card">
      <div class="job-logo">
        <img src="{{job.employer_logo}}" alt="Company logo" />
      </div>
      <div class="job-details">
        <h4>{{job.employer_name}}</h4>
        <!-- <p>{{job.job_publisher}}</p> -->
        <h2>{{job.job_title}}</h2>
      </div>
      <div class="job-time-location">
        <p>{{job.job_location}}</p>
        {% if job.job_posted_at%}
        <p>{{job.job_posted_at}}</p>
        {% endif %}
      </div>
      <button class="expand-btn">›</button>
    </div>
    {% endfor %}
  </body>
</html>
