<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Salary results</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    {%include "components/navbar.html"%}{%if job_wage%}
    <h1 class="job-title">{{job_wage.OCC_TITLE}}</h1>
    <p class="job-wage-question">
      How much do {{job_wage.OCC_TITLE}} make in {{job_wage.AREA_TITLE}}?
    </p>
    <div class="wage-values-card">
      <div class="wage-stat">
        <p>Average base salary</p>
        <h2>
          {% if job_wage.A_MEAN is number %}
          ${{"{:,.0f}".format(job_wage.A_MEAN)}}{% else %}N/A{% endif %}
        </h2>
      </div>
      <div class="wage-stat">
        <p>Low</p>
        <h2>
          {% if job_wage.A_PCT10 is number %}
          ${{"{:,.0f}".format(job_wage.A_PCT10)}}{% else %}N/A{% endif %}
        </h2>
      </div>
      <div class="wage-stat">
        <p>High</p>
        <h2>
          {% if job_wage.A_PCT90 is number
          %}${{"{:,.0f}".format(job_wage.A_PCT90)}}{% else %}N/A{% endif %}
        </h2>
      </div>
    </div>
    {%elif job_wages%}

    <h1 class="job-title">{{job_wages[0].OCC_TITLE}}</h1>

    <p class="job-wage-question">
      How much do {{job_wages[0].OCC_TITLE}} make?
    </p>

    <p>Select a state to see salary details</p>

    <!-- {%for job_wage in job_wages %}

    <div class="wage-values-card">
      <div class="wage-stat">
        <p>Average base salary</p>
        <h2>
          {% if job_wage.A_MEAN is number %}
          ${{"{:,.0f}".format(job_wage.A_MEAN)}}{% else %}N/A{% endif %}
        </h2>
      </div>
      <div class="wage-stat">
        <p>Low</p>
        <h2>
          {% if job_wage.A_PCT10 is number %}
          ${{"{:,.0f}".format(job_wage.A_PCT10)}}{% else %}N/A{% endif %}
        </h2>
      </div>
      <div class="wage-stat">
        <p>High</p>
        <h2>
          {% if job_wage.A_PCT90 is number
          %}${{"{:,.0f}".format(job_wage.A_PCT90)}}{% else %}N/A{% endif %}
        </h2>
      </div>
    </div>
    {% endfor %}  -->
    {%else%}
    <p class="no-results-found">
      No results found. Try another job title or location
    </p>
    {%endif%}
  </body>
</html>
