<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job salaries page</title>
  </head>

  {%include "components/navbar.html"%}

  <body>
    <div class="job-salary-search">
      <h2 class="salary-slogan">
        Get paid what you're worth. Check your career salary
      </h2>
      <form
        class="salary-search-bar"
        action="{{url_for('jobsalaryresults.job_salary_results')}}"
        method="get"
      >
        <label for="job-salary-title" class="job-salary-search-bar"
          >Job title</label
        >
        <input type="text" id="job-salary-title" name="job-salary-title" />

        <label for="job-salary-location" class="job-salary-search-bar"
          >Location</label
        >
        <input
          type="text"
          id="job-salary-location"
          name="job-salary-location"
        />

        <button type="submit">Search</button>
      </form>
    </div>
    <div class="display-top-paying-careers">
      <h3 class="top-careers">Top paying careers</h3>
    </div>
  </body>
</html>
