<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Salary results</title>
  </head>

  {%include "components/navbar.html"%}

  <body>
    {%if job_wages%} {%for job_wage in job_wages %}
    <h2 class="job-title">{{job_wage.OCC_TITLE}}</h2>

    <p class="job-wage-question">
      How much do {{job_wage.OCC_TITLE}} make in {{job_wage.AREA_TITLE}}?
    </p>

    <div class="wage-values-card">
      <p>
        Average base salary {% if job_wage.A_MEAN
        %}${{"{:,.0f}".format(job_wage.A_MEAN)}}{% else %}N/A{% endif %}
      </p>
      <p>
        Low {% if job_wage.A_PCT10 %}${{"{:,.0f}".format(job_wage.A_PCT10)}}{%
        else %}N/A{% endif %}
      </p>
      <p>
        High{% if job_wage.A_PCT90 %} ${{"{:,.0f}".format(job_wage.A_PCT90)}}{%
        else %}N/A{% endif %}
      </p>
    </div>
    {% endfor %} {%else%}
    <p class="no-results-found">
      No results found. Try another job title or location
    </p>
    {%endif%}
  </body>
</html>
