<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Salary results</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    {%include "components/navbar.html"%}{%if job_wage%}
    <h1 class="job-title">{{job_wage.OCC_TITLE}}</h1>
    <p class="job-wage-question">
      How much do {{job_wage.OCC_TITLE}} make in {{job_wage.AREA_TITLE}}?
    </p>

    <div class="wage-values-card">
      <div class="wage-stats">
        <div class="wage-stat">
          <p>Average base salary</p>
          <h2 id="avg-salary">-</h2>
        </div>
        <div class="wage-stat">
          <p>Low</p>
          <h2 id="low-salary">-</h2>
        </div>
        <div class="wage-stat">
          <p>High</p>
          <h2 id="high-salary">-</h2>
        </div>
      </div>

      <div class="wage-controls">
        <select id="annual-hourly-option">
          <option value="annual">Annually</option>
          <option value="hourly">Hourly</option>
        </select>
      </div>
    </div>

    <script>
      const salaryData = {{ job_wage | tojson }};

      const toggleDropdown = document.getElementById("annual-hourly-option")
      const cardAvgSalary = document.getElementById("avg-salary");
      const cardLowSalary = document.getElementById("low-salary");
      const cardHighSalary = document.getElementById("high-salary");

      let currentModeResult = "annual";
      let currentResult = salaryData;

      // Updates the wage card based on the current mode (annual/hourly)
      // Called immediately on page load and again when the toggle changes
      function updateSalaryCard(currentResult){

        if (currentModeResult == "annual"){
          cardAvgSalary.textContent = currentResult.A_MEAN ? "$" + Math.round(currentResult.A_MEAN).toLocaleString() : "N/A";
          cardLowSalary.textContent = currentResult.A_PCT10 ? "$" + Math.round(currentResult.A_PCT10).toLocaleString() : "N/A";
          cardHighSalary.textContent = currentResult.A_PCT90 ? "$" + Math.round(currentResult.A_PCT90).toLocaleString() : "N/A";
        } else{
          cardAvgSalary.textContent = currentResult.H_MEAN ? "$" + Math.round(currentResult.H_MEAN).toLocaleString() : "N/A";
          cardLowSalary.textContent = currentResult.H_PCT10 ? "$" + Math.round(currentResult.H_PCT10).toLocaleString() : "N/A";
          cardHighSalary.textContent = currentResult.H_PCT90 ? "$" + Math.round(currentResult.H_PCT90).toLocaleString() : "N/A";
        }
      }

      toggleDropdown.addEventListener("change", function(){
        currentModeResult = toggleDropdown.value;
        updateSalaryCard(currentResult)
      })

      updateSalaryCard(currentResult); // populate card immediately on page load
    </script>

    {%elif job_wages and dropdown_type == "state"%}
    <h1 class="job-title">{{job_wages[0].OCC_TITLE}}</h1>
    <p id="wage-question">
      Select a state to see salaries for {{job_wages[0].OCC_TITLE}}
    </p>

    <div class="wage-values-card">
      <div class="wage-stats">
        <div class="wage-stat">
          <p>Average base salary</p>
          <h2 id="avg-salary">—</h2>
        </div>
        <div class="wage-stat">
          <p>Low</p>
          <h2 id="low-salary">—</h2>
        </div>
        <div class="wage-stat">
          <p>High</p>
          <h2 id="high-salary">—</h2>
        </div>
      </div>
      <div class="wage-controls">
        <select id="state-dropdown">
          <option value="">Select a state</option>
        </select>

        <select id="annual-hourly-option">
          <option value="annual">Annually</option>
          <option value="hourly">Hourly</option>
        </select>
      </div>
    </div>

    <script>
      //Case #2
      //Jinja embeds the Python list as a JSON array — JS can now read it
      const wageData = {{ job_wages | tojson }};

      const dropdown = document.getElementById("state-dropdown");
      const dropdownSalary = document.getElementById("annual-hourly-option");
      const wageQuestion = document.getElementById("wage-question");
      const avgSalary = document.getElementById("avg-salary");
      const lowSalary = document.getElementById("low-salary");
      const highSalary = document.getElementById("high-salary");

      let activeMode = "annual";
      let activeMatch = null;

      // Updates the wage card based on the current mode (annual/hourly)
      // Called when a state is selected from the dropdown and when the toggle changes
      function updateSalaryCard(match){
        activeMatch = match;

        if(activeMode === "annual"){

          avgSalary.textContent = match.A_MEAN ? "$" + Math.round(match.A_MEAN).toLocaleString() : "N/A";
          lowSalary.textContent = match.A_PCT10 ? "$" + Math.round(match.A_PCT10).toLocaleString() : "N/A";
          highSalary.textContent = match.A_PCT90 ? "$" + Math.round(match.A_PCT90).toLocaleString() : "N/A";

        } else {
          avgSalary.textContent = match.H_MEAN ? "$" + Math.round(match.H_MEAN).toLocaleString() : "N/A";
          lowSalary.textContent = match.H_PCT10 ? "$" + Math.round(match.H_PCT10).toLocaleString() : "N/A";
          highSalary.textContent = match.H_PCT90 ? "$" + Math.round(match.H_PCT90).toLocaleString() : "N/A";

          }
      }

      // Build one <option> per state
      wageData.forEach(function(wage) {
      const option = document.createElement("option");
      option.value = wage.AREA_TITLE;
      option.textContent = wage.AREA_TITLE;
      dropdown.appendChild(option);
      });

      // When user picks a state, find the matching object and update the card
      dropdown.addEventListener("change", function() {
      const selected = dropdown.value;
      const match = wageData.find(function(w) {
      return w.AREA_TITLE === selected;
      });

      //if state matches update the text for the occupation name, question and execute function
      if (match) {
      wageQuestion.textContent = "How much do " + match.OCC_TITLE + " make in " + match.AREA_TITLE + "?";
      updateSalaryCard(match);
        }
      });

      // When user switches between annual/hourly, update currentMode and re-render the card IF a state is already selected
      dropdownSalary.addEventListener("change", function(){
        activeMode = dropdownSalary.value;
        if(activeMatch){
          updateSalaryCard(activeMatch);
        }
      })
    </script>

    {%elif job_wages and dropdown_type == "occupation"%}
    <h1 id="job-title">{{job_title}}</h1>
    <p id="occupation-question">
      Select an occupation to see salaries in {{job_wages[0].AREA_TITLE}}
    </p>

    <div class="wage-values-card">
      <div class="wage-stats">
        <div class="wage-stat">
          <p>Average base salary</p>
          <h2 id="avg-salary">—</h2>
        </div>
        <div class="wage-stat">
          <p>Low</p>
          <h2 id="low-salary">—</h2>
        </div>
        <div class="wage-stat">
          <p>High</p>
          <h2 id="high-salary">—</h2>
        </div>
      </div>

      <div class="wage-controls">
        <select id="occupation-dropdown">
          <option value="">Select an occupation</option>
        </select>

        <select id="annual-hourly-option">
          <option value="annual">Annually</option>
          <option value="hourly">Hourly</option>
        </select>
      </div>
    </div>

    <script>
      //Case #3
      //Jinja embeds the Python list as a JSON array — JS can now read it
      const occupationData = {{ job_wages | tojson }};

      const occupationTitle = document.getElementById("job-title");
      const salaryDropdown = document.getElementById("annual-hourly-option")
      const occupationDropdown = document.getElementById("occupation-dropdown");
      const occupationQuestion = document.getElementById("occupation-question");
      const occupationAvgSalary = document.getElementById("avg-salary");
      const occupationLowSalary = document.getElementById("low-salary");
      const occupationHighSalary = document.getElementById("high-salary");

      let currentMode = "annual";
      let currentMatch = null;

      // Updates the wage card based on the current mode (annual/hourly)
      // Called when an occupation is selected from the dropdown and when the toggle changes
      function updateSalaryCard(match){
        currentMatch = match;

        if(currentMode === "annual"){

          occupationAvgSalary.textContent = match.A_MEAN ? "$" + Math.round(match.A_MEAN).toLocaleString() : "N/A";
          occupationLowSalary.textContent = match.A_PCT10 ? "$" + Math.round(match.A_PCT10).toLocaleString() : "N/A";
          occupationHighSalary.textContent = match.A_PCT90 ? "$" + Math.round(match.A_PCT90).toLocaleString() : "N/A";

        } else {
          occupationAvgSalary.textContent = match.H_MEAN ? "$" + Math.round(match.H_MEAN).toLocaleString() : "N/A";
          occupationLowSalary.textContent = match.H_PCT10 ? "$" + Math.round(match.H_PCT10).toLocaleString() : "N/A";
          occupationHighSalary.textContent = match.H_PCT90 ? "$" + Math.round(match.H_PCT90).toLocaleString() : "N/A";

          }
      }

      // Build one <option> per occupation
      occupationData.forEach(function(occ) {
      const option = document.createElement("option");
      option.value = occ.OCC_TITLE;
      option.textContent = occ.OCC_TITLE;
      occupationDropdown.appendChild(option);
      });

      // When user picks an occupation, find the matching object and update the card
      occupationDropdown.addEventListener("change", function() {
      const selected = occupationDropdown.value;
      const match = occupationData.find(function(w) {
      return w.OCC_TITLE === selected;
      });

      //if occupation matches update the text for the occupation name, question and execute function
      if (match) {
        occupationTitle.textContent = match.OCC_TITLE;
        occupationQuestion.textContent = "How much do " + match.OCC_TITLE + " make in " + match.AREA_TITLE + "?";
        updateSalaryCard(match);
        }
      });

      // When user switches between annual/hourly, update currentMode and re-render the card IF an occupation is already selected
      salaryDropdown.addEventListener("change", function(){
        currentMode = salaryDropdown.value;
        if(currentMatch){
          updateSalaryCard(currentMatch);
        }
      })
    </script>

    {%else%}
    <p class="no-results-found">
      No results found. Try another job title or location
    </p>
    {%endif%}
  </body>
</html>
