<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="inner-container">
        <a href="{{url_for('homepage.homepage')}}">
          <img
            src="{{ url_for('static', filename='images/JobNestLogo.png') }}"
            alt="JobNest Logo"
          />
        </a>
        <div class="nav-links">
          <a href="{{url_for('homepage.homepage')}}">Home</a>
          <a href="{{url_for('jobsalaries.job_salaries')}}">Job Salaries</a>
          <a>Company Reviews</a>
        </div>
        <div></div>
      </div>
    </nav>
  </body>
</html>
